# Build
dist/
.astro/

# Node
node_modules/

# Logs
*.log
*-error*.txt
*-out*.txt

# Playwright
test-results/
playwright-report/

# Netlify
.netlify/

# Environment
.env
.env.*

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
