[build]
  command = "npm run build"
  publish = "dist"

[[headers]]
  for = "/search.json"
  [headers.values]
    Cache-Control = "public, max-age=86400"

[[headers]]
  for = "/images/*"
  [headers.values]
    Cache-Control = "public, max-age=2592000"
